@import "@assets/styles/global.scss";

.navbar {
  padding: 1rem 0;
  border-bottom: 1px solid $color-basic-3;
  background: $color-white;
  width: 100%;
}

.navbarMainSection {
  padding: 1rem 0;
  background: inherit;
  position: fixed;
  width: 100%;
  a {
    color: $color-white;
    &:hover {
      border-bottom: 2px solid $color-white;
    }
  }
}

.navbarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -2rem;
}

.nav {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: $color-black;
  margin: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
  &:hover {
    border-bottom: 2px solid $color-black;
  }
}
